h3{
    text-align: center;
}
.page-header{
    margin-bottom: 50px;
}
.btn {
    margin-bottom: 10px;
}
#pass{
    margin-left: 180px;
}
#register{
    text-align: center;
}
.panel{

}



